  header{
    position: relative;
    z-index: 10;
    display: flex;
    background-color: rgb(24, 24, 24); 
    border-bottom: 1px solid #FFBB00;
    border-width: 5px 5rem;
    border-image: linear-gradient(to bottom, #FFBB00 10%, rgb(24, 24, 24)) 100% 1;
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    display:flex;
    justify-content: start;
    width: 2.5cm;
    max-height: 100%;
  }
  .navs {
    display: flex;
    color: #FFBB00;
    justify-content: space-between;
    width: 20rem;
    margin-right: 4rem;
  }
.navs a{
  color: inherit;
  text-decoration: none;
}